body {
    background-image: url("http://cdn1.editmysite.com/uploads/2/0/6/5/20658008/background-images/1525247577.jpg");
}

.container {
    max-width: 720px;
    margin: 0 auto;
    min-height: 100%;
}

#login-buttons {
    display: block;
    float: right;
    margin-top: -40px;
}

#login-dropdown-list {
    position: relative;
    margin-top: -20px;
}

#login-buttons .login-close-text {
    float: right;
}

h1 {
    font-size: 50px;
}

.save-race-panel-body {
    padding: 0;
}

form.save-race {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.edit {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}