<!DOCTYPE html>
<html>
<head>
    <title>Backbone Application</title>
    <script src="lib/jquery-1.12.2.js" type="text/javascript"></script>
    <script src="lib/underscore-1.8.3-min.js" type="text/javascript"></script>
    <script src="lib/backbone-1.3.2.js" type="text/javascript"></script>
    <script src="lib/handlebars-v4.0.5.js" type="text/javascript"></script>
</head>
<body>

<div id="race-collection-view"></div>

<script id="race-list-template" type="text/x-handlebars-template">

    <table>
        <thead>
        <tr>
            <th>Car Name</th>
            <th>Car ClassName</th>
            <th>Track Location</th>
            <th>Track Variation</th>
        </tr>
        </thead>
        <tbody>
        name: {{name}}
        collection: {{collection}}
        {{#each collection}}
        <tr>
            <td>{{this.CarName}}</td>
            <td>{{this.CarClassName}}</td>
            <td>{{this.TrackLocation}}</td>
            <td>{{this.TrackBariation}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</script>

<script type="text/javascript">

    var Race = Backbone.Model.extend();

    var RaceCollection = Backbone.Collection.extend({
        url: '/api/races',
        model: Race
    });

    var RaceCollectionView = Backbone.View.extend({
        el: '#race-collection-view',

        initialize: function () {
            this.listenTo(this.collection, 'sync change', this.render);
            this.collection.fetch();
        },
        render: function () {
//            var source = $('#race-list-template').html();
//            var template = Handlebars.compile(source);
//            var html = template({name: 'test'});
//            this.$el.html(html);
//            console.log("collection: " + JSON.stringify(this.collection));
//            console.log("html: " + html);

            var source = "<p>{{lastName}}, {{firstName}}</p>";
            var template = Handlebars.compile(source);
            var html = template({firstName: "Alan", lastName: "Johnson"});

            console.log("html: " + html);
            this.$el.html(html);

            return this;
        }
    });

    var raceCollection = new RaceCollection();
    var raceCollectionView = new RaceCollectionView({collection: raceCollection});

</script>
</body>
</html>
